{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to usermanager</h1>
  </div>

  <div class="row">
    <div class="span12">
       <input type="submit" class="btn btn-primary"
              value="Search for User" /></br>
       </br>
       <input type="submit" class="btn btn-primary"
              value="Add User" /></br>
       </br>
       <input type="submit" class="btn btn-primary"
                value="Delete User" /></br>

    </div>

  </div>
{% endblock %}
